In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv('dataset.csv')

In [3]:
print("Размер данных:", df.shape)
print("\nПервые 3 строки:")
df.head(3)

Размер данных: (33, 21)

Первые 3 строки:

,os,sex,siblings,osPC,taxi,mobgames,regionMos,camera,regionRF,pay,...,occupation,smarthouse,IT,watches,budget,charges,browser,technologies,interface,material
0,1,1,1,1,20,1,5,1,1,1,...,2,2,2,2,120000,2,2,4,2,1
1,1,2,0,2,15,2,4,1,6,1,...,2,2,1,3,120000,1,3,3,2,1
2,1,1,2,1,1,2,4,1,1,1,...,3,1,1,3,100000,2,2,5,1,1

In [4]:
x = df.drop('os', axis=1)
y = df['os']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.5, random_state=37)

In [5]:
x_train = x_train.to_numpy(dtype=np.float64, copy=True)
x_test = x_test.to_numpy(dtype=np.float64, copy=True)

model = KNeighborsClassifier(n_neighbors=3)
model.fit(x_train, y_train)

y_pred = model.predict(x_test)

accuracy = accuracy_score(y_test, y_pred)

print(f"Точность модели: {accuracy:.2f}\n")
print("Пример первых 17 предсказаний:\n")
print("Фактические:\t", y_test.values[:17])
print("Предсказания:\t", y_pred[:17])

Точность модели: 0.71

Пример первых 17 предсказаний:

Фактические:	 [1 1 1 2 1 2 1 2 1 1 2 1 2 1 1 2 2]
Предсказания:	 [2 1 1 2 1 2 1 2 1 1 1 2 2 1 2 1 2]